* {
    box-sizing: border-box;
    margin: auto;
}

body {
    background-color: rgb(246, 179, 138);
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'curlz mt';
    font-size: 5.5em;
    color: rgb(84, 1, 34);
    text-align: center;
    width: 630px;
    height: 60px;
}

#titulo {
    width: 50%;
    height: 15;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

#imagen {
    margin-top: 60px;
    margin-left: 350px;

}

img {
    width: 66%;
    height: 66%;

}

footer {
    background-color: rgb(238, 128, 88);
    width: 100%;
    height: 122px;
    margin-top: 96px;
}

.containerfoot {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;




}



h3 {
    font-family: 'curlz mt';
    font-size: 4em;
    color: black;
}

#unsitio {
    width: 56%;
    text-align: left;
    text-align: left;
    margin-top: 10px;
    margin-left: 8px;
    border-radius: 1px;

}


h4 {

    font-family: 'helvetica';
    font-size: 18px;
    color: rgb(250, 224, 199);
    padding-left: 5px;


}


#sinraya {
    text-decoration: none;
    color: rgb(250, 224, 199);
}

#mail {
    width: 44%;
    text-align: left;
    margin-top: 20px;
    padding-left: 250px;


}
